:10036 {
    log {
        output stdout
        format json
    }

    reverse_proxy account-svr:10036 {
        transport http {
            versions h2c 2
        }
        header_up Host {upstream_hostport}
    }
}

:10035 {
    reverse_proxy * http://account-svr:10035
}


:10016 {
    reverse_proxy * http://payment-svr:10016
}